@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    color: white;
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body a {
    text-decoration: none;
}
.material-icons,
.material-symbols-rounded {
    cursor: default;
}
button .material-icons,
button .material-symbols-rounded {
    cursor: pointer;
}
.app {
    /*  APP'S PALETTE */
    --black: #0c0e12;
    --black-brighter: #181c24;
    --gray-darker: #1f2129;
    --gray-dark: #282c34;
    --gray: #515866;
    --gray-light: #c2c5cc;
    --gray-lighter: #d5d7de;
    --white-darker: #e4e4ed;
    --white: #f5f5fc;
    --seethrough-black: rgba(0, 0, 0, .25);
    --seethrough-white: rgba(255, 255, 255, .25);
    --seethrough-black-2: rgba(0, 0, 0, .5);
    --seethrough-white-2: rgba(255, 255, 255, .5);
    --seethrough-black-3: rgba(0, 0, 0, .75);
    --seethrough-white-3: rgba(255, 255, 255, .75);
    --font-family: 'Roboto', sans-serif;
    --font-family-condensed: 'Roboto Condensed', sans-serif;
    /*  DARK APP'S PALETTE */
    --text-color: var(--white);
    --text-color-2: var(--white-darker);
    --text-color-3: var(--gray-lighter);
    --background-color: var(--black);
    --background-color-2: var(--black-brighter);
    --background-color-3: var(--gray-darker);
    --background-gradient: linear-gradient(45deg, var(--black), var(--gray-darker));
    --seethrough-background: var(--seethrough-black);
    --seethrough-background-2: var(--seethrough-black-2);
    --seethrough-background-3: var(--seethrough-black-3);
    --weak-shade: 0 0 10px 5px rgba(0, 0, 0, .05);
    --def-border-radius: 6px;
    --big-border-radius: 12px;
}
.app.light {
    --text-color: var(--black);
    --text-color-2: var(--black-brighter);
    --text-color-3: var(--gray-darker);
    --background-color: var(--gray-lighter);
    --background-color-2: var(--white-darker);
    --background-color-3: var(--white);
    --background-gradient: linear-gradient(45deg, var(--gray-lighter), var(--white));
    --seethrough-background: var(--seethrough-white);
    --seethrough-background-2: var(--seethrough-white-2);
    --seethrough-background-3: var(--seethrough-white-3);
}
.app.red {
    --color: #ba0606;
    --color-dark: #770000;
    --color-bright: #ec3c3c;
    --color-brighter: #f87171;
}
.app.green {
    --color: #12ba06;
    --color-dark: #107800;
    --color-bright: #49d834;
    --color-brighter: #84f772;
}
.app.blue {
    --color: #0671ba;
    --color-dark: #004577;
    --color-bright: #3ca8ec;
    --color-brighter: #71c2f8;
}
.app.cyan {
    --color: #04c7c7;
    --color-dark: #007878;
    --color-bright: #3beded;
    --color-brighter: #72f7f7;
}
.app.magenta {
    --color: #c704c7;
    --color-dark: #780078;
    --color-bright: #ed3bed;
    --color-brighter: #f772f7;
}
.app.yellow {
    --color: #c7c704;
    --color-dark: #787800;
    --color-bright: #eded3b;
    --color-brighter: #f7f772;
}
.app.pink {
    --color: #e6007e;
    --color-dark: #a6005c;
    --color-bright: #ea529d;
    --color-brighter: #f4a3cc;
}
.app.lime {
    --color: #7fe600;
    --color-dark: #5ba600;
    --color-bright: #a6eb52;
    --color-brighter: #d0f5a4;
}
.app.orange {
    --color: #e67300;
    --color-dark: #a65300;
    --color-bright: #eb9e52;
    --color-brighter: #f5cca4;
}
.app.mono {
    --color: #7c7c7c;
    --color-dark: #595959;
    --color-bright: #c1c1c1;
    --color-brighter: #d8d8d8;
}
.app {
    --button-color: var(--color);
    --link-color: var(--color-bright);
    --link-hover-color: var(--color-brighter);
    --highlight-color: var(--color-bright);
    --color-gradient: linear-gradient(45deg, var(--color), var(--color-dark));


    color: var(--text-color);
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow: hidden;
    transition: 0.3s;
}

.app.light {
    --link-color: var(--color);
}

.app.bg-blue-galaxy {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-blue-galaxy.jpg') center center no-repeat;
}

.app.bg-cloudy {
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(255, 255, 255, .05)),
    url('../assets/background-cloudy.jpg') center center no-repeat;
}

.app.bg-violet-haze {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-violet-haze.jpg') center center no-repeat;
}

.app.bg-raspberry-peach {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-raspberry-peach.jpg') center center no-repeat;
}

.app.bg-blur-1 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-blur-1.jpg') center center no-repeat;
}

.app.bg-blur-2 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-blur-2.jpg') center center no-repeat;
}

.app.bg-blur-3 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-blur-3.jpg') center center no-repeat;
}

.app.bg-blur-4 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../assets/background-blur-4.jpg') center center no-repeat;
}
.app.fluent {
    background-size: cover;
    gap: 10px;
    padding: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
}
.app a {
    color: var(--link-color);
}
.app.loading {
    display: flex;
}

.app-notice {
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app.fluent .app-notice {
    color: var(--text-color-3);
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background);
}
.app.fluent .modal .app-notice {
    background: none;
    box-shadow: none;
    border: none;
}

.app.fluent .app-modal-content .app-notice {
    background: none;
    box-shadow: none;
    border: none;
}

.app-notice .main-icon {
    font-size: 100px;
    margin-bottom: 20px;
}

.app-notice h3 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin: 20px 0 0;
}

.app-notice p {
    text-align: center;
    margin: 5px;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.app-notice a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.app.fluent .seethrough {
    background: var(--seethrough-background);
}
.app.fluent .seethrough-2 {
    background: var(--seethrough-background-2);
}
.app.fluent .seethrough-3 {
    background: var(--seethrough-background-3);
}
.app.fluent .seethrough,
.app.fluent .seethrough-2,
.app.fluent .seethrough-3 {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
}

.app-clickable {
    cursor: pointer;
}
.app-centered {
    margin-right: auto;
    margin-left: auto;
}
.app-overflow-hidden {
    overflow: hidden;
}
.app-overflow-x {
    overflow-x: auto;
}
.app-overflow-y {
    overflow-y: auto;
}
.app-width-100 {
    width: 100%;
}
.app-width-50 {
    width: 50%;
}
.app-width-33 {
    width: 33%;
}

.app-scroll::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.app-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.app-scroll::-webkit-scrollbar-thumb {
    background-color: var(--background-color-3);
    background-clip: content-box;
    border-radius: 10px;
    margin-right: 5px;
    border: 5px solid transparent;
}
.app.fluent .app-scroll::-webkit-scrollbar-thumb {
    background-color: var(--seethrough-background-2);
}
.app-scroll::-webkit-scrollbar-button,
.app-scroll::-webkit-scrollbar-corner {
    display: none;
}

.app-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    top: calc(100% - 10px);
    right: 0;
    background: var(--background-gradient);
    border: none;
    margin: 0;
    padding: 15px;
    border-radius: var(--def-border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}
.app.fluent .app-sub-menu {
    background: var(--seethrough-background-2);
    border-radius: var(--big-border-radius);
    backdrop-filter: blur(10px);
}
.app-sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color-3);
    text-decoration: none;
    cursor: pointer;
}
.app-sub-menu .sub-menu-link:focus,
.app-sub-menu .sub-menu-link:hover {
    outline: none;
    color: var(--button-color);
}
.app-sub-menu .sub-menu-link:not(:last-child) {
    margin-bottom: 15px;
}
.app-sub-menu .sub-menu-link .icon {
    margin-left: 10px;
}
.app-sub-menu .sub-menu-link.logout {
    background: transparent;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.app-sub-menu .sub-menu-link.logout:hover {
    background: transparent;
}

.app-context-menu.contexify {
    /* https://fkhadra.github.io/react-contexify/how-to-style */
    --contexify-menu-padding: 10px;
    --contexify-separator-margin: 5px;
    --contexify-separator-color: rgba(255,255,255,.25);
    --contexify-item-color: var(--text-color);
    --contexify-activeItem-color: var(--white);
    --contexify-activeItem-bgColor: var(--button-color);
    background: var(--background-gradient);
}
.app.fluent .app-context-menu.contexify {
    background: var(--seethrough-background);
    backdrop-filter: blur(10px);
    --contexify-menu-radius: var(--big-border-radius);
    --contexify-menu-padding: 10px;
    --contexify-item-color: var(--text-color);
    --contexify-activeItem-color: var(--button-color);
    --contexify-activeItem-bgColor: var(--seethrough-background-2);
    --contexify-activeItem-radius: var(--def-border-radius);
    --contexify-menu-shadow: var(--weak-shade);
}


