.app.manager .app-content.app-settings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.app.manager .app-content.app-settings .page-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.app-settings .app-form {
    padding: 10px 20px;
}
.app.fluent .app-settings .app-form {
    padding: 20px;
}

.app-settings .form-label {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.app-settings .form-label+.app-combo-box {
    margin-top: 5px;
}
.app-settings .form-label .icon {
    font-size: 2rem;
    margin: 0 15px 0 5px;
}

.app-settings .app-color .combo-box-option {
    padding-left: 30px;
    position: relative;
}
.app-settings .app-color .combo-box-option:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: var(--text-color-2);
}
.app-settings .app-color .combo-box-option.opt-mono:hover {
    background: #777;
}
.app-settings .app-color .combo-box-option.opt-red:before {
    background: #ba0606;
}
.app-settings .app-color .combo-box-option.opt-red:hover {
    background: #f87171;
}
.app-settings .app-color .combo-box-option.opt-green:before {
    background: #12ba06;
}
.app-settings .app-color .combo-box-option.opt-green:hover {
    background: #84f772;
}
.app-settings .app-color .combo-box-option.opt-blue:before {
    background: #0671ba;
}
.app-settings .app-color .combo-box-option.opt-blue:hover {
    background: #71c2f8;
}
.app-settings .app-color .combo-box-option.opt-cyan:before {
    background: #04c7c7;
}
.app-settings .app-color .combo-box-option.opt-cyan:hover {
    background: #72f7f7;
}
.app-settings .app-color .combo-box-option.opt-magenta:before {
    background: #c704c7;
}
.app-settings .app-color .combo-box-option.opt-magenta:hover {
    background: #f772f7;
}
.app-settings .app-color .combo-box-option.opt-yellow:before {
    background: #c7c704;
}
.app-settings .app-color .combo-box-option.opt-yellow:hover {
    background: #f7f772;
}
.app-settings .app-color .combo-box-option.opt-pink:before {
    background: #e6007e;
}
.app-settings .app-color .combo-box-option.opt-pink:hover {
    background: #f4a3cc;
}
.app-settings .app-color .combo-box-option.opt-lime:before {
    background: #7fe600;
}
.app-settings .app-color .combo-box-option.opt-lime:hover {
    background: #d0f5a4;
}
.app-settings .app-color .combo-box-option.opt-orange:before {
    background: #e67300;
}
.app-settings .app-color .combo-box-option.opt-orange:hover {
    background: #f5cca4;
}

.app-settings .app-background .radio-label-image {
    aspect-ratio: 16/9;
    object-fit: cover;
}