.app-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 8px;
    background: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.app-button.disabled {
    opacity: 0.75;
    cursor: not-allowed;
}

.app-button:not(.disabled):not(.no-bg):hover {
    background: var(--highlight-color);
}
.app-button.discard,
.app-button.cancel {
    background: orangered;
}
.app-button.discard:not(.disabled):hover,
.app-button.cancel:not(.disabled):hover {
    background: #ff7040;
}
.app-button .icon {
    font-size: 1rem;
}
.app.fluent .app-button {
    padding: 10px;
    font-weight: bold;
    background: var(--seethrough-background);
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    color: var(--text-color);
}
.app.fluent .app-button:not(.disabled):hover {
    background: var(--seethrough-background-2);
    color: var(--button-color);
}
.app.fluent .app-button.discard,
.app.fluent .app-button.cancel {
    background: var(--seethrough-background);
    color: orangered;
}
.app.fluent .app-button.discard:not(.disabled):hover,
.app.fluent .app-button.cancel:not(.disabled):hover {
    color: #ff7040;
}
.app-button.no-bg,
.app.fluent .app-button.no-bg {
    background: none;
    box-shadow: none;
    color: var(--text-color);
}