.app-combo-box {
    position: relative;
    white-space: nowrap;
    user-select: none;
}

.app-form .app-combo-box.disabled {
    opacity: 0.8;
}

.app-combo-box .combo-box-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
    border: none;
    border-radius: var(--def-border-radius);
    background: var(--text-color-3);
    color: var(--background-color-3);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.app-combo-box.disabled .combo-box-selected {
    cursor: not-allowed;
}
.app.fluent .app-combo-box .combo-box-selected {
    color: var(--text-color);
    background: var(--seethrough-background-2);
    border-radius: var(--big-border-radius);
}

.app-combo-box .combo-box-search-input {
    color: inherit;
    padding: 10px 0;
    font-size: 0.9rem;
    font-family: var(--font-family), sans-serif;
    width: calc(100% + 24px);
    border: none;
    outline: none;
    background: none;
}
.app-combo-box .combo-box-selected-text {
    color: inherit;
    padding: 10px 0;
    font-size: 0.9rem;
    font-family: var(--font-family), sans-serif;
    border: none;
    outline: none;
    background: none;
}
.app-combo-box .combo-box-search-input::placeholder {
    color: inherit;
    opacity: 1;
}
.app-combo-box .icon.app-clickable {
    margin-left: auto;
}
.app.fluent .app-combo-box .combo-box-selected {
    background-color: var(--seethrough-background-2);
}
.app-combo-box .combo-box-selected:focus {
    outline: none;
}
.app.fluent .app-combo-box .combo-box-selected:hover,
.app.fluent .app-combo-box .combo-box-selected:focus {
    background-color: var(--seethrough-background-3);
}

.combo-box-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px 0;
    padding: 0;
    list-style: none;
    background-color: var(--background-color-2);
    border-radius: 12px;
    box-shadow: var(--weak-shade);
    z-index: 1000;
    width: fit-content;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s ease-in-out;
}
.app.fluent .combo-box-options {
    background: var(--seethrough-background-3);
    backdrop-filter: blur(10px);
}
.combo-box-options.hidden {
    opacity: 0;
    visibility: hidden;
    margin-top: -15px;
}
.combo-box-option {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.combo-box-option.opt-none {
    font-style: italic;
}
.combo-box-option:hover,
.combo-box-option:focus {
    background-color: var(--highlight-color);
    color: white;
    outline: none;
}