/* FRONTEND/Connectivity.css */
.connectivity-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 5px solid orangered;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 0.7rem 1.2rem;
    z-index: 1000;
}
.app.fluent .connectivity-popup {
    border: none;
    background: var(--seethrough-background-2);
    backdrop-filter: blur(10px);
    box-shadow: var(--weak-shade);
}

.connectivity-icon {
    color: orangered;
    font-size: 2.5rem;
    margin-right: 12px;
}

.connectivity-message h1 {
    margin: 0;
    font-size: 1rem;
    color: orangered;
}

.connectivity-message p {
    margin: 0.5em 0;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--text-color);
}
.connectivity-message .app-button {
    font-size: 0.9rem;
    border: none;
    color: white;
    background: orangered;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}
.app.fluent .connectivity-message .app-button {
    font-size: 0.9rem;
    padding: 5px 10px;
}