.details-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details-header {
    font-size: 2em;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: baseline;
}
.details-header .details-title-prefix,
.details-header .details-title-suffix {
    cursor: help;
    font-size: 0.5em;
}
.details-header .app-button {
    color: var(--text-color-3);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: fit-content;
    border-radius: 12px;
    padding: 10px;
}
.details-header .app-button .icon {
    font-size: 1.5rem;
}
.details-header .app-button.edit:hover {
    color: var(--link-color);
}
.details-header .app-button.delete:hover {
    color: firebrick;
}
.details-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal .details-content {
    max-height: calc(100vh - 200px - 50px - 45px);
    overflow-y: auto;
}

.details-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details-section .section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
}
.details-section .section-header .app-button {
    padding: 5px;
}
.details-section .data-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    padding-left: 5px;
}
.details-section .data-group.linear {
    flex-direction: row;
}
.details-section .data-group label {
    margin-left: -5px;
    font-weight: bold;
    font-family: var(--font-family-condensed), sans-serif;
}
.details-section .data-group.clickable {
    color: var(--link-color);
    cursor: pointer;
    transition: .3s ease-in-out;
    width: fit-content;
}
.details-section .data-group.clickable:hover {
    color: var(--link-hover-color);
}
.details-section .data-group .icon {
    font-size: 1.1em;
    padding: 3px;
    margin-right: 5px;
    border-radius: 10px;
}
.details-section .data-group .icon.true {
    background-color: rgba(154, 205, 50, 0.5);
    color: white;
}
.details-section .data-group .icon.false {
    background-color: rgba(255, 127, 80, 0.5);
    color: white;
}