.app-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    align-items: flex-start;
}

.app-form .form-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.app-form .form-section.vertical {
    flex-direction: column;
}
.app-form .form-section.align-center {
    align-items: center;
}

.app-form .form-header {
    width: 100%;
    margin: 0;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
}
.app-form .app-form-header {
    font-size: 2em;
    margin: 0 0 0 -20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: 300;
}

.app-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 45%;
    transition: 0.3s ease-in-out;
}
.app-form .form-group.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.app-form .form-group-label {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}
.app-form .form-label {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}
.app-form .form-input,
.app-form .form-textarea {
    padding: 10px 15px;
    font-size: 0.9rem;
    font-family: var(--font-family), sans-serif;
    border-radius: var(--def-border-radius);
    box-sizing: border-box;
    margin: 0 5px;
    outline: none;
    border: none;
    background: var(--text-color-3);
    color: var(--background-color-3);
    transition: 0.3s ease-in-out;
    width: calc(100% - 20px);
    min-width: max(170px, 33%);
}

.app-form .form-input::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.app.fluent .app-form .form-input,
.app.fluent .app-form .form-textarea {
    color: var(--text-color);
    background: var(--seethrough-background-2);
    border-radius: var(--big-border-radius);
}

.app-form .form-label + .app-combo-box,
.app-form label + .form-group > .app-combo-box {
    margin-left: 5px;
}

.app-form .form-textarea {
    height: 5rem;
}

.app-form .action-button {
    display: inline-flex;
    align-items: center;
    border: 0;
    margin: 10px 0;
    padding: 10px 15px;
    background: var(--button-color);
    color: white;
    border-radius: var(--def-border-radius);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.app-form .action-button .icon {
    margin-right: 5px;
    font-size: 1rem;
}
.app-form .action-button:hover {
    background: var(--highlight-color);
}
.app-form .action-button+.action-button {
    margin-left: 10px;
}
.app-form .discard-button {
    background: orangered;
}
.app.fluent .app-form .action-button {
    border-radius: var(--big-border-radius);
    background: var(--seethrough-background-2);
    box-shadow: var(--weak-shade);
    color: var(--text-color-3);
}
.app.fluent .app-form .action-button:hover {
    background: var(--seethrough-background-3);
}
.app.fluent .app-form .discard-button {
    color: orangered;
}

.app-form .form-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.app-form .form-radio-group.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.app-form .form-radio-group .radio-label {
    margin: 0;
    position: relative;
}
.app-form .form-radio-group .radio-label input {
    position: absolute;
    opacity: 0;
}
.app-form .form-radio-group .radio-label-image {
    width: 200px;
    height: auto;
    border-radius: 12px;
    opacity: 0.6;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.app-form .form-radio-group:not(.disabled) input:checked+.radio-label-image {
    opacity: 1;
    border-color: white;
}

.form-input.error,
.app-combo-box.error .combo-box-selected {
    animation: shake 0.5s, flash 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@keyframes flash {
    0% { background-color: inherit; }
    50% { background-color: rgba(255, 0, 0, 0.2); }
    100% { background-color: inherit; }
}