.app-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    align-items: flex-start;
}

.app-form .form-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.app-form .form-section.vertical {
    flex-direction: column;
}
.app-form .form-section.align-center {
    align-items: center;
}
.app-form .form-header {
    width: 100%;
    margin: 0;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
}

.app-form .app-form-header {
    font-size: 2em;
    margin: 0 0 0 -20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: 300;
}

.app-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.3s ease-in-out;
}
.app-form .form-group.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.app-form .form-group-label {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.app-form .form-label {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}
.app-form .form-input,
.app-form .form-textarea {
    font-size: 0.9rem;
    border-radius: var(--def-border-radius);
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0 5px;
    outline: none;
    border: none;
    background: var(--text-color-3);
    color: var(--background-color-3);
    transition: 0.3s ease-in-out;
    width: fit-content;
    min-width: max(170px, 33%);
}

.app.fluent .app-form .form-input,
.app.fluent .app-form .form-textarea {
    color: var(--text-color);
    background: var(--seethrough-background-2);
    border-radius: var(--big-border-radius);
}
.app.fluent .app-form .app-dropdown .dropdown-selected {
    color: var(--text-color);
    background: var(--seethrough-background-2);
}
.app-form .form-textarea {
    height: 5rem;
}

.app-form .app-dropdown {
    position: relative;
    white-space: nowrap;
    user-select: none;
    max-width: 50%;
    margin: 0 0 0 5px;
    min-width: max(200px, 33%);
}

.app-form .app-dropdown .dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: none;
    border-radius: 8px;
    background: var(--text-color-3);
    color: var(--background-color-3);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.app-form .app-dropdown .dropdown-search-input {
    color: inherit;
    padding: 10px 0;
    font-size: 0.9rem;
    width: calc(100% + 24px);
    border: none;
    outline: none;
    background: none;
}
.app-form .app-dropdown .dropdown-selected-text {
    padding: 8px 0;
    font-size: 0.9rem;
    border: none;
    outline: none;
    background: none;
}
.app-form .app-dropdown .dropdown-search-input::placeholder {
    color: inherit;
    opacity: 1;
}
.app-form .app-dropdown .icon.app-clickable {
    position: absolute;
    right: 5px;
}
.app-form .app.fluent .app-dropdown .dropdown-selected {
    background-color: var(--seethrough-background-2);
}
.app-form .app-dropdown .dropdown-selected:focus {
    outline: none;
}
.app-form .app.fluent .app-dropdown .dropdown-selected:hover,
.app-form .app.fluent .app-dropdown .dropdown-selected:focus {
    background-color: var(--seethrough-background-3);
}
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px 0;
    padding: 0;
    list-style: none;
    background-color: var(--background-color-2);
    border-radius: 12px;
    box-shadow: var(--weak-shade);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    transition: .3s ease-in-out;
}
.app.fluent .dropdown-options {
    background: var(--seethrough-background-3);
    backdrop-filter: blur(10px);
}
.dropdown-options.hidden {
    opacity: 0;
    visibility: hidden;
    margin-top: -15px;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.dropdown-option.opt-none {
    font-style: italic;
}

.dropdown-option:hover,
.dropdown-option:focus {
    background-color: var(--highlight-color);
    color: white;
    outline: none;
}

.app-form .multi-dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.app-form .multi-dropdown-item {
    display: flex;
}

.app-form .dropdown-item {
    flex: 0;
    display: flex;
    align-items: center;
    width: max(170px, 50%);
}

.app-form .new-dropdown-button {
    width: fit-content;
}
.app-form .new-dropdown-button[disabled] {
    opacity: 0.5;
    cursor: default;
}


.app-form .action-button {
    display: inline-flex;
    align-items: center;
    border: 0;
    margin: 10px 0;
    padding: 10px 15px;
    background: var(--button-color);
    color: white;
    border-radius: var(--def-border-radius);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.app-form .action-button .icon {
    margin-right: 5px;
    font-size: 1rem;
}
.app-form .action-button:hover {
    background: var(--highlight-color);
}
.app-form .action-button+.action-button {
    margin-left: 10px;
}
.app-form .discard-button {
    background: orangered;
}
.app.fluent .app-form .action-button {
    border-radius: var(--big-border-radius);
    background: var(--seethrough-background-2);
    box-shadow: var(--weak-shade);
    color: var(--text-color-3);
}
.app.fluent .app-form .action-button:hover {
    background: var(--seethrough-background-3);
}
.app.fluent .app-form .discard-button {
    color: orangered;
}

.app-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.app-checkbox .app-checkbox-tick {
    display: flex;
    align-items: center;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 6px;
    background: var(--text-color);
    padding: 5px;
    transition: .3s ease-in-out;
}
.app-checkbox .app-checkbox-tick .icon {
    font-size: 1rem;
    font-weight: 900;
}
.app-checkbox.checked .app-checkbox-tick {
    background: var(--button-color);
    color: white;
}
.app.fluent .app-checkbox .app-checkbox-tick {
    background: var(--seethrough-background-2);
    box-shadow: var(--weak-shade);
}
.app.fluent .app-checkbox .app-checkbox-tick {
    color: var(--button-color);
}
.app-form .form-group .app-checkbox {
    margin: 0 5px;
}

.app-combo-dropdown {
    display: flex;
    flex-direction: row;
}