.leaves-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.leave-page-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.leave-page-section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.leave-page-section-header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.leaves-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow: auto hidden;
}
.index-leave-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    flex: 0 0 20%;
    background: var(--background-gradient);
    border-radius: var(--def-border-radius);
}
.app.fluent .index-leave-item {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background-2);
}
.index-leave-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.index-leave-item h2 {
    margin: 0 auto 0 0;
    font-size: 1.7rem;
    font-weight: 400;
}
.index-leave-item p {
    margin: 0;
}