.app-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url('../assets/office_background.jpg') no-repeat;
    background-size: cover;
}
.app-login .login-wrapper {
    display: flex;
    height: calc(100% - 40px);
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    padding: 20px 60px;
    box-shadow: var(--weak-shade);
}
.app.fluent .app-login {
    justify-content: center;
    align-items: center;
}
.app.fluent .app-login .login-wrapper {
    margin: -50px 20px 50px;
    border-radius: var(--big-border-radius);
    background: var(--seethrough-background);
    backdrop-filter: blur(10px);
    height: fit-content;
}

.app-login .app-logo {
    margin: 20px auto;
    width: 100px;
    height: auto;
    color: white;
    fill: white;
    opacity: 1;
    transition: ease-in-out 0.3s;
    background: var(--background-color-3);
    padding: 20px;
    border-radius: 100px;
}
.app-login .app-logo {
    fill: var(--color);
}
.app-login .login-form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 33%;
}
.app-login .login-form input:focus,
.app-login .login-form button:focus {
    outline: none;
}
.app-login .login-form .input-field {
    position: relative;
    display: flex;
    margin: 10px 0;
}
.app-login .login-form .input-icon {
    position: absolute;
    color: var(--color-dark);
    top: calc(50% - 2px);
    transform: translateY(-50%);
    left: 10px;
    transition: ease-in-out 0.3s;
}
.app-login .login-form .input-field input,
.app-login .login-form .input-field input:-webkit-autofill {
    background: var(--background-color-3);
    color: var(--text-color);
    appearance: unset;
    border-radius: 10px;
    border: none;
    margin: 0;
    padding: 10px 10px 10px 40px;
    flex: 1;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    transition: ease-in-out 0.3s;
}
.app-login .login-form .input-field input:hover,
.app-login .login-form .input-field input:focus {
    opacity: 1;
}
.app-login .login-form .input-field input:hover~.input-icon,
.app-login .login-form .input-field input:focus~.input-icon {
    color: var(--color);
}
.app.fluent .app-login .login-form .input-field input,
.app.fluent .app-login .login-form .input-field input:-webkit-autofill {
    background: var(--seethrough-background-3);
}
.app-login .login-form button {
    background: var(--color-gradient);
    -webkit-tap-highlight-color: transparent;
    color: white;
    border: 0;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.app.fluent .app-login .login-form button {
    background: var(--seethrough-background-2);
    color: var(--color);
}
.app.fluent .app-login .login-form button:hover {
    background: var(--seethrough-background-3);
}
.app-login .login-form .error {
    color: orange;
    border-radius: 10px;
    border: 2px solid orange;
    padding: 10px;
    align-self: center;
}
.app.fluent .app-login .login-form .error {
    background: var(--color);
    border: none;
    color: white;
}


@media (max-width: 768px) {
    .app-login .login-form {
        width: 90%;
        max-width: unset;
        min-width: unset;
    }
    .app-login .login-form .input-field input {
        padding: 15px 40px 15px;
        font-size: 24px;
    }
    .app-login .login-form .input-field,
    .app-login .login-form button {
        margin: 25px 0;
        font-size: 24px;
    }

}