/* Modal overlay */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}
.modal-overlay.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.app.fluent .modal-overlay {
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(1px);
    transition: 0.3s;
}


/* Modal content */
.modal {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--background-gradient);
    padding: 25px;
    width: max(33%, 300px);
    height: calc(100% - 50px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    z-index: 1500;
    transition: ease-in-out 0.3s;
}
.modal.hidden {
    transform: translateX(100%);
    visibility: hidden;
}
.modal.dialog {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: max(50%, 300px);
    max-height: calc(100% - 200px);
    border-radius: var(--def-border-radius);
}
.modal.dialog.hidden {
    transform: translateX(-50%) translateY(-100vh);
    visibility: hidden;
}
.modal.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: fit-content;
    height: fit-content;
    padding-top: 40px;
    border-radius: var(--def-border-radius);
    transition: ease-in-out 0.3s;
}
.modal.pop-up.hidden {
    transform: translate(-50%, -50%) scale(0.01);
    transform-origin: center center;
    visibility: hidden;
}
.app.fluent .modal {
    backdrop-filter: blur(10px);
    background: var(--seethrough-background-3);
    border-radius: var(--big-border-radius);
}
.app.fluent .modal.pane {
    top: 20px;
    right: 20px;
    height: calc(100% - 90px);
}

/* Close button */
.modal-close-button {
    position: fixed;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 5px;
    background: none;
    color: var(--text-color-3);
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}
.modal-close-button .icon {
    font-size: 1.5rem;
}
.modal-close-button:hover {
    opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .modal {
        width: 100%;
        height: 100%;
        max-height: 100vh;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: none;
    }
}