.month-grid {
    table-layout: fixed;
    border-collapse: collapse;
    width: fit-content;
}
.month-grid.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.month-grid th {
    padding: 10px;
    width: 14.28%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--color);
}
.month-grid th.weekend {
    color: var(--color);
}
.month-grid td {
    padding: 5px;
    width: 14.28%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    transition: 0.3s ease-in-out;
}
.month-grid tr.selected td {
    background: var(--background-color-3);
}
.app.fluent .month-grid tr.selected td {
    background: var(--seethrough-background-2);
}
.month-grid tr.selected td:first-child {
    border-radius: var(--def-border-radius) 0 0 var(--def-border-radius);
}
.month-grid tr.selected td:last-child {
    border-radius: 0 var(--def-border-radius) var(--def-border-radius) 0;
}
.month-grid tr:not(.selected) td.selected {
    border-radius: var(--def-border-radius);
}
.month-grid tr:not(.selected) td:not(.selected):hover {
    background: var(--background-color-3);
    border-radius: var(--def-border-radius);
}
.app.fluent .month-grid tr:not(.selected) td:not(.selected):hover {
    background: var(--seethrough-background-2);
}
.month-grid td.other-month {
    opacity: 0.6;
}
.month-grid td .day-number {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    border-radius: var(--def-border-radius);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.month-grid.disabled td .day-number {
    cursor: not-allowed;
}
.month-grid td.selected .day-number {
    background: var(--text-color);
    color: var(--background-color-2);
}