
.app-popups {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    transition: 0.3s ease;
}

.app-popup {
    display: flex;
    flex-direction: row;
    gap: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: var(--background-color-2);
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    min-width: 200px;
    position: relative;
}

.app.fluent .app-popup {
    background: var(--seethrough-background-2);
}

.app-popup.visible {
    opacity: 1;
    transform: translateY(0);
}

.app-popup-close {
    position: absolute;
    top: 0;
    right: 0;
}