main.posts .post-list {
    margin: 0 auto;
}

.post-list {
    padding: 20px;
    width: 80%;
    margin: 0;
    list-style: none;
}

.post-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.post-item h1 {
    margin: 10px 0 10px;
}

.post-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.post-item h2 a {
    color: var(--link-color);
    text-decoration: none;
}

.post-item p {
    margin: 5px 0;
}

.post-title-button {
    background: none;
    border: none;
    color: var(--link-color);
    cursor: pointer;
    font-size: 1.5em;
    padding: 0;
    text-align: left;
}

.post-title-button:hover {
    color: var(--link-color);
}
