/* Schedules/Dashboard.jsx */
.schedules-dashboard {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d d c";
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    height: calc(100% - 20px);
    overflow: hidden;
}
.app.fluent .schedules-dashboard {
    padding: 0;
    height: 100%;
    gap: 10px;
}
.schedules-dashboard-widget {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--background-gradient);
    border-radius: var(--def-border-radius);
    padding: 20px;
    overflow: hidden;
}
.app.fluent .schedules-dashboard-widget {
    background: var(--seethrough-background);
    border-radius: var(--big-border-radius);
}
.schedules-dashboard .your-schedules {
    grid-area: a;
}
.schedules-dashboard .your-team-schedule {
    grid-area: b;
}
.schedules-dashboard .schedule-drafts {
    grid-area: c;
}
.schedules-dashboard .pending-approvals {
    grid-area: d;
}
.schedules-dashboard-widget .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.schedules-dashboard-widget .content {
    overflow-y: auto;
}
.schedules-dashboard-widget .content::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}
.schedules-dashboard-widget h1 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

/* Schedules/Index.jsx */
.schedule-draft-item {
    padding: 15px 10px;
    border-radius: var(--big-border-radius);
}
.schedule-draft-item:hover {
    background: var(--seethrough-background-2);
}
.schedule-draft-item h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0 auto 0 0;
}
.schedule-draft-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app.fluent .schedule-draft-item-header .app-button {
    padding: 7px;
}
.schedule-draft-item-header .app-button .icon {
    font-size: 1.5rem;
}
.schedule-draft-item-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.schedule-draft-item .group {
    display: flex;
    flex-direction: column;
}
.schedule-draft-item .group .label {
    font-weight: 500;
    font-size: 0.9rem;
}
.schedule-draft-item .group .data {
    padding-left: 5px;
    font-size: 0.8rem;
}

/* Schedules/View.jsx, Schedules/Edit.jsx */
.app-schedule {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.app-schedule-header {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.app-schedule-header h1 {
    font-size: 2em;
    margin: 0;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-schedule-header .app-form label {
    font-size: 0.8rem;
    text-transform: uppercase;;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-schedule-header .app-form .form-group {
    gap: 0;
}
.app-schedule-header .app-form .form-group.date-range {
    align-items: center;
}
.app-schedule-content {
    overflow: auto;
}