.app-schedule {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.app-schedule-header {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.app-schedule-header h1 {
    font-size: 2em;
    margin: 0;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

.app-schedule-content {
    overflow: auto;
}
.app-schedule-table {
    min-width: 100%;
}
.app-schedule-table .user-header,
.app-schedule-table .day-header {
    padding: 8px 12px;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
}
.app-schedule-table .user-header,
.app-schedule-table .user-cell {
    width: max(100px, fit-content);
    text-align: left;
}
.app-schedule-table .day-header .short-day {
    width: fit-content;
    font-size: 0.8em;
    font-weight: 300;
    padding: 4px;
    border-radius: var(--def-border-radius);
    color: var(--text-color-3);
}
.app-schedule-table .day-header.weekend .short-day {
    background: var(--color);
    color: white;
    font-weight: 500;
}
.app-schedule-table .user-cell {
    padding: 8px 12px;
    white-space: nowrap;
}

.app-schedule-table .shift-item,
.app-schedule-table .leave-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: var(--big-border-radius);
    background: var(--seethrough-background);
    transition: 0.3s ease-in-out;
    font-size: 0.9em;
    color: var(--text-color-3);
    white-space: nowrap;
}

.app-schedule-table .shift-item .subtitle,
.app-schedule-table .leave-item .subtitle {
    align-self: flex-end;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 500;
}