/* Schedules/Dashboard.jsx */
.app.manager main.schedules.index {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 4fr 5fr 4fr;
    grid-template-areas:
        "a b c"
        "d d c";
}
main.schedules.index .your-schedule {
    grid-area: a;
}
main.schedules.index .your-team-schedule {
    grid-area: b;
}
main.schedules.index .schedule-drafts {
    grid-area: c;
}
main.schedules.index .pending-approvals {
    grid-area: d;
}


    /* Schedule Day */
.schedule-day {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: var(--big-border-radius);
}
.schedule-day:hover {
    background: var(--seethrough-background-2);
}
.schedule-day .day-tag {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    margin: 0;
    flex: 0 0 45%;
}
.schedule-day.weekend .day-tag {
    color: var(--color);
}
.schedule-day.holiday .day-tag {
    color: firebrick;
}
.schedule-day .day-content {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.schedule-day .schedule-item {
    padding: 3px 5px;
    border-radius: var(--def-border-radius);
    cursor: pointer;
}
.schedule-day.empty  .schedule-item {
    background-color: var(--text-color-3);
    color: var(--background-color-3);
    font-style: italic;
    cursor: default;
}
.schedule-day.weekend.empty  .schedule-item {
    background-color: var(--color);
    color: var(--text-color-3);
    font-style: normal;
    cursor: pointer;
}
.schedule-day.holiday  .schedule-item {
    background-color: firebrick;
}

/* Schedules/Index.jsx */
.schedule-draft-item {
    padding: 15px 10px;
    border-radius: var(--big-border-radius);
}
.schedule-draft-item:hover {
    background: var(--seethrough-background-2);
}
.schedule-draft-item h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0 auto 0 0;
}
.schedule-draft-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app.fluent .schedule-draft-item-header .app-button {
    padding: 7px;
}
.schedule-draft-item-header .app-button .icon {
    font-size: 1.5rem;
}
.schedule-draft-item-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.schedule-draft-item .group {
    display: flex;
    flex-direction: column;
}
.schedule-draft-item .group .label {
    font-weight: 500;
    font-size: 0.9rem;
}
.schedule-draft-item .group .data {
    padding-left: 5px;
    font-size: 0.8rem;
}

/* Schedules/View.jsx, Schedules/Edit.jsx */
main.schedules.view .schedule-view {
    height: 100%;
}
.app-schedule-header {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.app-schedule-header h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-schedule-header .app-form label {
    font-size: 0.8rem;
    text-transform: uppercase;;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-schedule-header .app-form .form-group {
    gap: 0;
}
.app-schedule-header .app-form .form-group.date-range {
    align-items: center;
}
.app-schedule-content {
    overflow: auto;
    height: 100%;
}

.your-schedule-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.approvals-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    gap: 10px;
    overflow: auto hidden;
    height: 100%;
}
.approval-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    background: var(--background-gradient);
    background-attachment: fixed;
    border-radius: var(--def-border-radius);
}
.app.fluent .approval-item-item {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background-2);
}
.approval-item h2 {
    margin: 0 0 auto 0;
    font-size: 1.25rem;
    font-weight: 400;
}
.approval-item p {
    font-size: 0.9rem;
    margin: 0;
}

.more-approvals {
    display: flex;
    padding: 15px;
    background: var(--background-color-3);
    border-radius: var(--def-border-radius);
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: ease-in-out 0.3s;
}
.app.fluent .more-approvals {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background-2);
}
.more-approvals:hover {
    opacity: 1;
}


/* Leaves.jsx */
.app.manager main.schedules.leaves {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "a c";
}
main.schedules.leaves .your-leaves {
    grid-area: a;
}
main.schedules.leaves .your-leave-balance {
    grid-area: b;
}
main.schedules.leaves .reportee-leaves {
    grid-area: c;
}

.leaves-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    height: 100%;
    overflow: hidden auto;
}
.index-leave-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    flex: 0 0 calc(50% - 35px);
    background: var(--background-gradient);
    border-radius: var(--def-border-radius);
}
.app.fluent .index-leave-item {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background-2);
}
.index-leave-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.index-leave-item h2 {
    margin: 0 auto 0 0;
    font-size: 1.7rem;
    font-weight: 400;
}
.index-leave-item p {
    margin: 0;
}

/* Approvals */
.approvals-index {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
}

.app.fluent .approvals-index {
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.approvals-index .page-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex: 1 1 auto;
    overflow: hidden;
}
.approvals-index .page-section h1 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.app.fluent .approvals-index .page-section {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background);
}

