.app.staff {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
            "nav"
            "main";

}
/*********/
/*APP NAV*/
/*********/
.app.staff .app-nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background: var(--background-gradient);
    font-family: 'Roboto Condensed', sans-serif;
}
.app.staff.fluent .app-nav {
    border-radius: var(--big-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background);
}

.app.staff .app-nav .app-home {
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 30px;
}
.app.staff .app-nav .app-home:focus,
.app.staff .app-nav .app-home:focus-within {
    outline: none;
}
.app.staff.fluent .app-nav .app-home  {
    background: none;
    padding: 5px 10px;
}
.app.staff .app-nav .app-logo {
    width: auto;
    height: 40px;
    fill: white;
    transition: .3s ease-in-out;
}
.app.staff.fluent .app-nav .app-home .app-logo #AppLogoSymbol {
    transition: .3s ease-in-out;
}
.app.staff.fluent .app-nav .app-home:focus .app-logo #AppLogoSymbol  {
    fill: var(--color);
}
.app.staff.fluent .app-nav .app-logo  {
    height: 35px;
    fill: var(--text-color-3);
}

.app.staff .app-nav .app-pages {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
}
.app.staff .app-nav .app-pages .page-link-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    margin: 0 10px;
}
.app.staff .app-nav .app-pages .page-link,
.app.staff .app-nav .app-user {
    color: var(--text-color-3);
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    transition: ease-in-out 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.app.staff .app-nav .app-user {
    padding: 0 30px;
    align-items: stretch;
}
.app.staff .app-nav .app-user .user-link {
    display: flex;
    align-items: center;
    color: var(--text-color-3);
}
.app.staff .app-nav .app-pages .icon {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
}
.app.staff .app-nav .app-user .user-link .icon {
    font-size: 1.25rem;
    cursor: pointer;
}
.app.staff .app-nav .app-pages .page-link {
    border: none;
    border-bottom: 4px solid transparent;
}
.app.staff .app-nav .page-link:focus,
.app.staff .app-nav .user-link:focus {
    outline: none;
    color: var(--color);
}
.app.staff .app-nav .app-pages .page-link.active,
.app.staff .app-nav .app-pages .page-link:hover {
    border-bottom-color: var(--color);
}

.app.staff .app-nav .app-sub-menu {
    top: calc(100% - 20px);
}
.app.staff .app-nav .page-link-item .app-sub-menu {
    right: 50%;
    transform: translateX(50%);
}
.app.staff .app-nav .app-user .app-sub-menu {
    right: 20px;
}
.app.staff .app-nav .page-link-item:hover .app-sub-menu,
.app.staff .app-nav .page-link-item:focus .app-sub-menu,
.app.staff .app-nav .page-link-item:focus-within .app-sub-menu,
.app.staff .app-nav .app-user:hover .app-sub-menu,
.app.staff .app-nav .app-user:focus-within .app-sub-menu,
.app.staff .app-nav .app-sub-menu:hover {
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
}
.app.staff .app-nav .app-user .sub-menu-link {
    justify-content: flex-end;
}

/*************/
/*APP CONTENT*/
/*************/
.app.staff main {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.app.staff.fluent main {
    padding: 0;
}

/*************/
/*MOBILE VIEW*/
/*************/
@media (max-width: 768px) {
    .app.staff .app-mobile-nav {
        display: flex;
    }
    .app.staff .app-nav {
        display: none;
    }
}