.app.manager main.timesheets.index {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'a c' 'b c';
}
.timesheets .clock-in {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app.manager main.timesheets>section.week-selector {
    grid-area: b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.timesheets .timesheet {
    grid-area: c;
}
.timesheet-table {
    border-collapse: collapse;
}
.timesheet-table tr.header th {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
}
.timesheet-table tr.project-header th {
    text-align: left;
    font-size: 1.25rem;
}
.timesheet-table th .short-day {
    width: fit-content;
    padding: 2px 5px;
    border-radius: var(--def-border-radius);
    margin: 0 auto;
}
.timesheet-table th.holiday,
.timesheet-table th.weekend {
    cursor: pointer;
}
.timesheet-table th.holiday .date {
    color:#770000;
}
.timesheet-table th.holiday .short-day {
    background: #770000;
}
.timesheet-table th.weekend .date {
    color: var(--color);
}
.timesheet-table th.weekend .short-day {
    background: var(--color);
}
.timesheet-table tr.schedule th {
    background: var(--background-color-3);
}
.timesheet-table tr.schedule th:first-child {
    border-radius: var(--def-border-radius) 0 0 var(--def-border-radius);
}
.timesheet-table tr.schedule th:last-child {
    border-radius: 0 var(--def-border-radius) var(--def-border-radius) 0;
}
.timesheet-table td {
    vertical-align: top;
    padding: 2px;
    text-align: center;
}
.timesheet-table td .labor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}
.timesheet-table input.hours {
    width: 70px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 5px 2px;
    text-align: center;
}