.app.manager main.timesheets.index {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'a c' 'b c';
}
.app.manager main.timesheets.approvals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.timesheets .clock-in {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app.manager main.timesheets>section.week-selector {
    grid-area: b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.timesheets .timesheet {
    grid-area: c;
}
.timesheet-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.timesheet-table td, th {
    width: 14.28%;
    overflow: hidden;
}
.timesheet-table tr.header th {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
}
.timesheet-table tr.project-header th {
    text-align: left;
    font-size: 1.25rem;
}
.timesheet-table th .short-day {
    width: fit-content;
    padding: 2px 5px;
    border-radius: var(--def-border-radius);
    margin: 0 auto;
}
.timesheet-table th.holiday,
.timesheet-table th.weekend {
    cursor: pointer;
}
.timesheet-table th.holiday .date {
    color:#770000;
}
.timesheet-table th.holiday .short-day {
    background: #770000;
}
.timesheet-table th.weekend .date {
    color: var(--color);
}
.timesheet-table th.weekend .short-day {
    background: var(--color);
}
.timesheet-table tr.schedule .user-schedule-shift-item {
    border-radius: var(--def-border-radius);
}
.timesheet-table tr.schedule .sched-item {
    background: var(--background-color-3);
    border-radius: var(--def-border-radius);
    padding: 10px;
}
.app.fluent .timesheet-table tr.schedule .sched-item {
    background: var(--seethrough-background-2);
    border-radius: var(--big-border-radius);
}
.timesheet-table td {
    vertical-align: top;
    padding: 2px;
    text-align: center;
}
.timesheet-table td .labor-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.timesheet-table .labor-item {
    width: 70px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: var(--def-border-radius);
    padding: 5px 2px;
    text-align: center;
}
.timesheet-table .labor-item:disabled {
    background: var(--background-color-3);
}
.app.fluent .timesheet-table .labor-item:disabled {
    background: var(--seethrough-background-2);
}
.timesheet-table .timesheet-submit-row td {
    padding-top: 15px;
}
.timesheet-table .timesheet-submit-row td button {
    margin: auto;
}