.work-planner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0 20px 20px;
    height: calc(100% - 40px);
    overflow-y: scroll;
}
.app.fluent .work-planner {
    margin: 0;
    height: 100%;
    gap: 10px;
}
.planner-widget {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 400px;
    background: var(--background-gradient);
    border-radius: var(--def-border-radius);
    padding: 20px;
    height: 500px;
    overflow: hidden;
}
.app.fluent .planner-widget {
    background: var(--seethrough-background);
    border-radius: var(--big-border-radius);
}
.planner-widget .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.planner-widget .content {
    overflow-y: auto;
}
.planner-widget .content::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}
.planner-widget h1 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.schedule-draft-item {
    padding: 15px 10px;
    border-radius: var(--big-border-radius);
}
.schedule-draft-item:hover {
    background: var(--seethrough-background-2);
}
.schedule-draft-item h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0 auto 0 0;
    padding-left: 10px;
}
.schedule-draft-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app.fluent .schedule-draft-item-header .app-button {
    padding: 7px;
}
.schedule-draft-item-header .app-button .icon {
    font-size: 1.5rem;
}
.schedule-draft-item-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.schedule-draft-item .group {
    display: flex;
    flex-direction: column;
}
.schedule-draft-item .group .label {
    font-weight: 500;
    font-size: 0.9rem;
}
.schedule-draft-item .group .data {
    padding-left: 5px;
    font-size: 0.8rem;
}