.work-planner-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "a b c"
            "a d e";
    padding: 0;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.work-planner-settings .page-section {
    padding: 20px;
    overflow: hidden;
}
.work-planner-settings .page-section h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.work-planner-settings .general-settings {
    grid-area: a;
}
.work-planner-settings .holidays {
    grid-area: b;
}
.work-planner-settings .leave-types {
    grid-area: c;
}
.work-planner-settings .job-posts {
    grid-area: d;
}
.work-planner-settings .job-locations {
    grid-area: e;
}