:root {
    --color: #0671ba;
    --color-dark: #004577;
    --color-bright: #3ca8ec;
    --color-gradient: linear-gradient(45deg, var(--color), var(--color-dark));
    --gray-gradient: linear-gradient(45deg, var(--black-brighter), var(--gray-dark));
    --black: #111;
    --black-brighter: #181c24;
    --gray-darker: #1f2129;
    --gray-dark: #282c34;
    --gray: #4e5563;
    --gray-light: #ccc;
    --gray-lighter: #ddd;
    --white-darker: #eee;

    --text-color: var(--black);
    --text-color-2: var(--black-brighter);
    --link-color: var(--color);
    --highlight-color: var(--color-bright);
    --background-color: var(--gray-lighter);
    --background-color-2: var(--white-darker);
    --background-color-3: var(--color-gradient);
    --background-gradient: linear-gradient(45deg, var(--gray-lighter), var(--white-darker));
    --background-gradient-2: linear-gradient(45deg, var(--gray-light), var(--gray-lighter));
}