@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    color: white;
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body a {
    text-decoration: none;
}
.material-icons,
.material-symbols-rounded {
    cursor: default;
}
.app {
    /*  APP'S PALETTE */
    --gray-gradient: linear-gradient(45deg, var(--black-brighter), var(--gray-dark));
    --black: #111;
    --black-brighter: #181c24;
    --gray-darker: #1f2129;
    --gray-dark: #282c34;
    --gray: #4e5563;
    --gray-light: #ccc;
    --gray-lighter: #ddd;
    --white-darker: #eee;
    --seethrough-black: rgba(0, 0, 0, .25);
    --seethrough-white: rgba(255, 255, 255, .25);
    --seethrough-black-2: rgba(0, 0, 0, .5);
    --seethrough-white-2: rgba(255, 255, 255, .5);
    --seethrough-black-3: rgba(0, 0, 0, .75);
    --seethrough-white-3: rgba(255, 255, 255, .75);
    --font-family: 'Roboto', sans-serif;
    --font-family-condensed: 'Roboto Condensed', sans-serif;
    /*  DARK APP'S PALETTE */
    --text-color: white;
    --text-color-2: var(--white-darker);
    --text-color-3: var(--gray-lighter);
    --background-color: var(--black);
    --background-color-2: var(--black-brighter);
    --background-gradient: linear-gradient(45deg, var(--black-brighter), var(--gray-dark));
    --background-gradient-2: linear-gradient(45deg, var(--black), var(--gray-darker));
    --seethrough-background: var(--seethrough-black);
    --seethrough-background-2: var(--seethrough-black-2);
    --seethrough-background-3: var(--seethrough-black-3);
    --weak-shade: 0 0 10px 5px rgba(0, 0, 0, .05);
    --def-border-radius: 12px;
}
.app.light {
    --text-color: var(--black);
    --text-color-2: var(--black-brighter);
    --text-color-3: var(--gray-darker);
    --background-color: var(--gray-light);
    --background-color-2: var(--white-darker);
    --background-color-3: var(--color-gradient);
    --background-gradient: linear-gradient(45deg, var(--gray-lighter), var(--white-darker));
    --background-gradient-2: linear-gradient(45deg, var(--gray-light), var(--gray-lighter));
    --seethrough-background: var(--seethrough-white);
    --seethrough-background-2: var(--seethrough-white-2);
    --seethrough-background-3: var(--seethrough-white-3);
}
.app.red {
    --color: #ba0606;
    --color-dark: #770000;
    --color-bright: #ec3c3c;
    --color-brighter: #f87171;
}
.app.green {
    --color: #12ba06;
    --color-dark: #107800;
    --color-bright: #49d834;
    --color-brighter: #84f772;
}
.app.blue {
    --color: #0671ba;
    --color-dark: #004577;
    --color-bright: #3ca8ec;
    --color-brighter: #71c2f8;
}
.app.cyan {
    --color: #04c7c7;
    --color-dark: #007878;
    --color-bright: #3beded;
    --color-brighter: #72f7f7;
}
.app.magenta {
    --color: #c704c7;
    --color-dark: #780078;
    --color-bright: #ed3bed;
    --color-brighter: #f772f7;
}
.app.yellow {
    --color: #c7c704;
    --color-dark: #787800;
    --color-bright: #eded3b;
    --color-brighter: #f7f772;
}
.app.pink {
    --color: #e6007e;
    --color-dark: #a6005c;
    --color-bright: #ea529d;
    --color-brighter: #f4a3cc;
}
.app.lime {
    --color: #7fe600;
    --color-dark: #5ba600;
    --color-bright: #a6eb52;
    --color-brighter: #d0f5a4;
}
.app.orange {
    --color: #e67300;
    --color-dark: #a65300;
    --color-bright: #eb9e52;
    --color-brighter: #f5cca4;
}
.app.mono {
    --color: #7c7c7c;
    --color-dark: #595959;
    --color-bright: #c1c1c1;
    --color-brighter: #d8d8d8;
}
.app {
    --button-color: var(--color);
    --link-color: var(--color-bright);
    --link-hover-color: var(--color-brighter);
    --highlight-color: var(--color-bright);
    --color-gradient: linear-gradient(45deg, var(--color), var(--color-dark));
    color: var(--text-color);
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.app.light {
    --link-color: var(--color);
}


.app.bg-blue-galaxy {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-blue-galaxy.jpg') center center no-repeat;
}

.app.bg-cloudy {
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(255, 255, 255, .05)),
    url('../background-cloudy.jpg') center center no-repeat;
}

.app.bg-violet-haze {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-violet-haze.jpg') center center no-repeat;
}

.app.bg-raspberry-peach {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-raspberry-peach.jpg') center center no-repeat;
}

.app.bg-blur-1 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-blur-1.jpg') center center no-repeat;
}

.app.bg-blur-2 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-blur-2.jpg') center center no-repeat;
}

.app.bg-blur-3 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-blur-3.jpg') center center no-repeat;
}

.app.bg-blur-4 {
    background: linear-gradient(45deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),
    url('../background-blur-4.jpg') center center no-repeat;
}
.app.fluent {
    background-size: cover;
}

.app a {
    color: var(--link-color);
}

.app-notice {
    height: fit-content;
    margin: 150px auto 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app.fluent .app-notice {
    color: var(--text-color-3);
    border-radius: var(--def-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background);
}

.app-notice .main-icon {
    font-size: 100px;
    margin-bottom: 20px;
}

.app-notice h3 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin: 20px 0 0;
}

.app-notice p {
    text-align: center;
    margin: 5px;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.app-notice a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.app.fluent .seethrough {
    background: var(--seethrough-background);
}
.app.fluent .seethrough-2 {
    background: var(--seethrough-background-2);
}
.app.fluent .seethrough-3 {
    background: var(--seethrough-background-3);
}
.app.fluent .seethrough,
.app.fluent .seethrough-2,
.app.fluent .seethrough-3 {
    border-radius: var(--def-border-radius);
    box-shadow: var(--weak-shade);
}

.app-clickable {
    cursor: pointer;
}
.app-centered {
    margin-right: auto;
    margin-left: auto;
}
.app-overflow-hidden {
    overflow: hidden;
}
.app-overflow-x {
    overflow-x: auto;
}
.app-overflow-y {
    overflow-y: auto;
}
.app-width-100 {
    width: 100%;
}
.app-width-50 {
    width: 50%;
}
.app-width-33 {
    width: 33%;
}

.app-scroll::-webkit-scrollbar {
    width: 20px;
}

.app-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.app-scroll::-webkit-scrollbar-thumb {
    background-color: var(--background-color-2);
    background-clip: content-box;
    border-radius: 10px;
    margin-right: 5px;
    border: 5px solid transparent;
}
.app.fluent .app-scroll::-webkit-scrollbar-thumb {
    background-color: var(--seethrough-background-2);
}
.app-scroll::-webkit-scrollbar-button {
    display: none;
}

.app-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    background: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.app-button i {
    font-size: 15px;
}
.app.fluent .app-button {
    padding: 10px;
    font-size: 1rem;
    background: var(--seethrough-background);
    border-radius: var(--def-border-radius);
    box-shadow: var(--weak-shade);
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--font-family-condensed), sans-serif;
}
.app.fluent .app-button:hover {
    background: var(--seethrough-background-2);
}

/* Custom Toggle Switch */
.app-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.app-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.app-switch .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-darker);
    border-radius: 24px;
    transition: 0.3s ease-in-out;
}

.app-switch .toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.app-switch input:checked + .toggle-slider {
    background: var(--color-gradient);
}

.app-switch input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

.app-switch input:disabled + .toggle-slider {
    background: var(--gray-dark);
    opacity: 0.5;
    cursor: not-allowed;
}

.app-switch input:disabled + .toggle-slider:before {
    background: var(--gray-light);
}

.app-dropdown {
    position: relative;
    font-size: 1rem;
    user-select: none;
    max-width: 50%;
}

.app-dropdown .dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-color-2);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.app.fluent .app-dropdown .dropdown-selected {
    background-color: var(--seethrough-background-2);
}
.app-dropdown .dropdown-selected:focus {
    outline: none;
}
.app.fluent .app-dropdown .dropdown-selected:hover,
.app.fluent .app-dropdown .dropdown-selected:focus {
    background-color: var(--seethrough-background-3);
}

.app-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    top: calc(100% - 10px);
    right: 0;
    background: linear-gradient(45deg, var(--gray-light), white);
    border: none;
    margin: 0;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}
.app.fluent .app-sub-menu {
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,.75);
}
.app-sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.app-sub-menu .sub-menu-link:hover {
    color: var(--button-color);
}
.app-sub-menu .sub-menu-link:not(:last-child) {
    margin-bottom: 15px;
}
.app-sub-menu .sub-menu-link i {
    margin-left: 10px;
}


.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px 0;
    padding: 0;
    list-style: none;
    background-color: var(--background-color-2);
    border-radius: 12px;
    box-shadow: var(--weak-shade);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    transition: .3s ease-in-out;
}
.app.fluent .dropdown-options {
    background: var(--seethrough-background-3);
    backdrop-filter: blur(10px);
}
.dropdown-options.hidden {
    opacity: 0;
    visibility: hidden;
    margin-top: -15px;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.dropdown-option:hover,
.dropdown-option:focus {
    background-color: var(--highlight-color);
    color: white;
    outline: none;
}