
.modules-notice {
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    padding: 20px;
    margin: 10px auto;
    cursor: default;
    background-color: var(--background-color-2);
}
.modules-list {
    max-width: 46%;
}
.modules-list .module-icon {
    max-width: fit-content;
}
.modules-list .module-icon i {
    font-size: 2rem;
}
.modules-list .module-title {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.modules-list .module-switch {
    max-width: fit-content;
}
.modules-list .module-description {
    font-style: italic;
    color: var(--text-color-3);
    border-radius: 0 0 10px 10px;
}