/*****/
/*APP*/
/*****/
.app.manager {
    flex-direction: row;
}

/*********/
/*APP NAV*/
/*********/
.app.manager .app-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--background-gradient-2);
    color: var(--text-color);
    width: 250px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .15);
    transition: width 0.3s ease-in-out;
    transform: translateZ(0);
    margin: 0;
    padding: 0;
    border: 0;
}
.app.manager .app-nav-collapsed {
    width: 70px;
}
.app.manager .app-nav a {
    color: var(--text-color);
    text-decoration: none;
}
.app.manager .app-nav .app-home-link {
    display: block;
    padding: 0;
    margin: 20px 0;
    position: relative;
    height: 150px;
}
.app.manager .app-nav .app-logo,
.app.manager .app-nav .app-logo-small {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100px;
    position: absolute;
    fill: var(--text-color);
    opacity: 1;
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav .app-logo-small {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav  #AppLogoSymbol {
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav .app-home-link.active #AppLogoSymbol,
.app.manager .app-nav .app-home-link:hover #AppLogoSymbol {
    fill: var(--link-color);
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav-collapsed .app-logo {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav-collapsed .app-logo-small {
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav .app-nav-page-link {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 15px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav .app-nav-page-link-icon {
    margin-right: 5px;
    font-size: 25px;
}
.app.manager .app-nav .app-nav-page-link-label {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.app.manager .app-nav-collapsed .app-nav-page-link-label {
    opacity: 0;
    visibility: hidden;
}
.app.manager .app-nav .app-nav-page-link.active,
.app.manager .app-nav .app-nav-page-link:hover {
    background: var(--color-gradient);
    color: white;
    transition: ease-in-out 0.3s;
}
.app.manager .app-nav .nav-collapse-button {
    margin: auto 0 0;
    padding: 15px 20px;
    cursor: pointer;
    align-self: flex-start;
    font-size: 30px;
}

/************/
/*APP SUBNAV*/
/************/
.app.manager .app-subnav {
    background: var(--color-gradient);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app.manager .app-subnav a {
    color: white;
    text-decoration: none;
}
.app.manager .app-subnav .submenu a {
    color: #333;
}
.app.manager .app-subnav .submenu-item:hover a {
    color: var(--color);
}
.app.manager .subpage-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    padding: 0;
}
.app.manager .subpage-link,
.app.manager .username {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0 10px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    border: 3px solid transparent;
    transition: ease-in-out 0.3s;
}
.app.manager .subpage-link.selected,
.app.manager .subpage-link.selected a {
    cursor: default;
}
.app.manager .subpage-link.selected,
.app.manager .subpage-link:hover {
    border-bottom-color: white;
    transition: ease-in-out 0.3s;
}
.app.manager .user-nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: auto
}
.app.manager .user-nav .username {
    margin: 0;
}
.app.manager .user-nav i {
    cursor: pointer;
    font-size: 20px;
}

.app.manager .app-subnav .submenu {
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1500;
    padding: 5px;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(45deg, var(--gray-light), white);
    border: 1px solid #dee2e6;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    min-width: 150px;
}
.app.manager .app-subnav .submenu {
    top: 30px;
}
.app.manager .app-subnav .user-nav:hover .submenu,
.app.manager .app-subnav .username:hover~.submenu,
.app.manager .app-subnav .submenu:hover {
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
}
.app.manager .app-subnav .submenu-item {
    padding: 10px 15px;
    white-space: nowrap;
}
.app.manager .app-subnav .submenu-item a {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

/*************/
/*APP CONTENT*/
/*************/
.app.manager .app-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.app.manager .app-content main {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.app.manager .app-content main::-webkit-scrollbar {
    width: 20px;
}
.app.manager .app-content main::-webkit-scrollbar-track {
    background: transparent;
}
.app.manager .app-content main::-webkit-scrollbar-thumb {
    background-color: var(--gray-light);
    background-clip: content-box;
    border-radius: 10px;
    margin-right: 5px;
    border: 5px solid transparent;
}
.app.manager .app-content main::-webkit-scrollbar-button {
    display: none;
}
/*************/
/*MOBILE VIEW*/
/*************/
@media (max-width: 768px) {
    .app.manager  {
        flex-direction: column;
    }
    .app.manager .app-mobile-nav {
        display: flex;
    }
    .app.manager .app-nav,
    .app.manager .app-subnav {
        display: none;
    }
}