:root {
    --color: #e6007e;
    --color-dark: #a6005c;
    --color-bright: #ea529d;
    --color-gradient: linear-gradient(45deg, var(--color), var(--color-dark));
    --gray-gradient: linear-gradient(45deg, var(--black-brighter), var(--gray-dark));
    --black: #111;
    --black-brighter: #181c24;
    --gray-darker: #1f2129;
    --gray-dark: #282c34;
    --gray: #4e5563;
    --gray-light: #ccc;
    --gray-lighter: #ddd;
    --white-darker: #eee;

    --text-color: white;
    --text-color-2: var(--white-darker);
    --link-color: var(--color);
    --highlight-color: var(--color-bright);
    --background-color: var(--black);
    --background-color-2: var(--black-brighter);
    --background-gradient-1: linear-gradient(45deg, var(--black-brighter), var(--gray-dark));
    --background-gradient-2: linear-gradient(45deg, var(--black), var(--gray-darker));
    --background-color-1: var(--color-gradient);
}