.employees .app-button.new-role {
    margin-left: auto;
}

.roles-list .role-title {
    font-size: 1.25em;
}
.roles-list .role-users {
    text-align: right;
}
.roles-list .role-description {
    font-style: italic;
    color: var(--text-color-3);
}