/*********/
/*APP NAV*/
/*********/
.app.staff .app-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background: var(--background-gradient);
    font-family: 'Roboto Condensed', sans-serif;
}
.app.staff.glass .app-nav {
    margin: 10px;
    border-radius: var(--def-border-radius);
    box-shadow: var(--weak-shade);
    background: var(--seethrough-background);
}

.app.staff .app-nav .app-home {
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 30px;
}
.app.staff.glass .app-nav .app-home  {
    background: none;
    padding: 10px;
}
.app.staff .app-nav .app-logo {
    width: auto;
    height: 40px;
    fill: white;
}
.app.staff.glass .app-nav .app-logo  {
    height: 35px;
    fill: var(--text-color-3);
}

.app.staff .app-nav .app-pages {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
}
.app.staff .app-nav .app-pages .page-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0 10px;
}
.app.staff .app-nav .app-pages .page-link,
.app.staff .app-nav .app-user {
    color: var(--text-color-3);
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    transition: ease-in-out 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.app.staff .app-nav .app-user {
    padding: 10px 30px;
}
.app.staff .app-nav .app-pages i {
    font-size: 24px;
    margin: 5px;
}
.app.staff .app-nav .app-pages .page-link {
    border: none;
    border-bottom: 4px solid transparent;
}
.app.staff .app-nav .app-pages .page-link.active,
.app.staff .app-nav .app-pages .page-link:hover {
    border-bottom-color: var(--color);
}

.app.staff .app-nav .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    top: 40px;
    right: 0;
    background: linear-gradient(45deg, var(--gray-light), white);
    border: none;
    margin: 0;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}
.app.staff .app-nav .page-link-item .sub-menu {
    right: 50%;
    transform: translateX(50%);
}
.app.staff .app-nav .app-user .sub-menu {
    right: 20px;
}
.app.glass .app-nav .sub-menu {
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,.75);
}
.app.staff .app-nav .page-link-item:hover .sub-menu,
.app.staff .app-nav .app-user:hover .sub-menu,
.app.staff .app-nav .sub-menu:hover {
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
}
.app.staff .app-nav .sub-menu-link {
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.app.staff .app-nav .sub-menu-link:hover {
    color: var(--button-color);
}
.app.staff .app-nav .sub-menu-link:not(:last-child) {
    margin-bottom: 15px;
}

/*************/
/*APP CONTENT*/
/*************/
.app.staff .app-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.app.staff .app-content main {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


/*************/
/*MOBILE VIEW*/
/*************/
@media (max-width: 768px) {
    .app.staff .app-mobile-nav {
        display: flex;
    }
    .app.staff .app-nav {
        display: none;
    }
}