/*********/
/*APP NAV*/
/*********/
.app.staff .app-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background: var(--gray-gradient);
    font-family: 'Roboto Condensed', sans-serif;
}

.app.staff .app-nav .app-home {
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 30px;
}
.app.staff .app-nav .app-logo {
    width: auto;
    height: 40px;
    fill: white;
}

.app.staff .app-nav .app-pages {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 0;
}
.app.staff .app-nav .app-pages .page-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0 10px;
}
.app.staff .app-nav .app-pages .page-link,
.app.staff .app-nav .app-user {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    transition: ease-in-out 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.app.staff .app-nav .app-user {
    padding: 10px 30px;
}
.app.staff .app-nav .app-pages i {
    font-size: 24px;
    margin: 5px;
}
.app.staff .app-nav .app-pages .page-link {
    border: none;
    border-bottom: 4px solid transparent;
}
.app.staff .app-nav .app-pages .page-link.active,
.app.staff .app-nav .app-pages .page-link:hover {
    border-bottom-color: var(--color);
}

.app.staff .app-nav .submenu  {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: -99;
    background: linear-gradient(45deg, var(--gray-light), white);
    border: 0;
    list-style: none;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
}
.app.staff .app-user .submenu {
    left: unset;
    transform: translateX(0);
    right: 10px;
}
.app.staff .page-link-item:hover .submenu,
.app.staff .app-user:hover .submenu,
.app.staff .app-nav .submenu:hover {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
}
.app.staff .app-nav .submenu-item {
    margin: 10px;
    padding: 0;
    white-space: nowrap;
}
.app.staff .app-nav .submenu-item a {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.app.staff .app-nav .submenu-item a:hover,
.app.staff .app-nav .submenu-item button:hover {
    color: var(--color);
}

/*************/
/*APP CONTENT*/
/*************/
.app.staff .app-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.app.staff .app-content main {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


/*************/
/*MOBILE VIEW*/
/*************/
@media (max-width: 768px) {
    .app.staff .app-mobile-nav {
        display: flex;
    }
    .app.staff .app-nav {
        display: none;
    }
}