.employees .new-team {
    margin-left: auto;
}

.teams-list .subteam-code-name i {
    font-size: 1rem;
}
.teams-list .subteam-name {
    font-style: italic;
}

.teams-list .app-list-header-cell.members_count,
.teams-list .app-list-row-cell.members-count {
    max-width: 100px;
}