.app.manager .app-content main.teams {
    align-items: flex-start;
}
.teams>h1 {
    margin: 25px 20px 10px;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
}
.teams .new-team-button {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 25px;
    right: 20px;
    margin-top: 10px;
    padding: 8px;
    background: var(--link-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.teams .new-team-button i {
    font-size: 15px;
}