.employees .new-user-button {
    margin-left: auto;
}

.users-list .app-list-header-cell.managed_users,
.users-list .app-list-row-cell.managed-users {
    max-width: 100px;
}

.user-edit-form .roles-checklist {
    display: flex;
    flex-wrap: wrap;
}

.user-edit-form .roles-checklist .role-checkbox {
    margin-right: 10px;
    padding: 5px;
}