.app.manager .app-content main.employees {
    align-items: flex-start;
}
.employees>h1 {
    margin: 25px 20px 10px;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
}
.employees .new-user-button {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 25px;
    right: 20px;
    margin-top: 10px;
    padding: 8px;
    background: var(--link-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.employees .new-user-button i {
    font-size: 15px;
}
.users-list {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 10px;
}
.users-list .users-list-header {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.users-list .users-list-header-cell {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px;
    flex-wrap: wrap;
}
.users-list .users-list-header-cell label {
    flex: 1 1 100%;
    margin-bottom: 5px;
}
.users-list .users-list-header-cell .search {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    background: rgba(255,255,255,0.7);
    opacity: 0.5;
    color: black;
    transition: 0.3s ease-in-out;
}
.users-list .users-list-header-cell .search:hover,
.users-list .users-list-header-cell .search:focus,
.users-list .users-list-header-cell .search.non-empty {
    opacity: 1;
}
.users-list .users-list-header-cell .order {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    background: var(--link-color);
    opacity: 0.5;
    color: black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.users-list .users-list-header-cell .order:hover,
.users-list .users-list-header-cell .order.asc,
.users-list .users-list-header-cell .order.desc {
    opacity: 1;
}
.users-list .users-list-row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.users-list .users-list-row div {
    flex: 1;
    padding: 10px;
}
.users-list .users-list-row:hover {
    background-color: var(--background-color-2);
}
.users-list .users-list-row .role-name {
    background: var(--gray-darker);
    padding: 5px;
    margin-right: 3px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.users-list .users-list-row .role-name:hover {
    background: var(--gray-dark);
}

.user-detail {
    padding: 10px;
}
.user-detail-group {
    margin: 10px 0 5px;
}
.user-detail-header {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.user-detail-header .user-id {
    font-size: 0.5em;
}
.user-detail-label {
    font-size: 1.25em;
    font-weight: 200;
    margin: 10px 0 5px;
    text-transform: uppercase;
}
.user-detail-data {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.user-detail-data i {
    font-size: 1.1em;
    padding: 3px;
    margin-right: 5px;
    border-radius: 10px;
}
.user-detail-data.true i {
    background-color: yellowgreen;
}
.user-detail-data.false i {
    background-color: coral;
}
.user-detail-data.placeholder {
    font-style: italic;
    opacity: 0.6;
}

.user-form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: flex-start;
}
.user-form .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
}
.user-form .form-group label {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}
.user-form .form-group>input,
.user-form .form-group>select {
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: var(--gray-dark);
    color: white;
    transition: 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}
.user-form .roles-checklist {
    display: flex;
    flex-direction: column;
}
.user-form .roles-checklist .role-checkbox {
    display: flex;
    padding: 5px;
    font-size: 1.25em;
}
.user-form .form-actions {
    display: flex;
    flex-direction: row;
}
.user-detail button,
.user-form button {
    display: inline-flex;
    align-items: center;
    margin: 10px 5px;
    padding: 8px 10px;
    background: var(--link-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.user-detail button i,
.user-form button i {
    margin-right: 5px;
    font-size: 20px;
}
.user-detail .delete-button,
.user-form .delete-button {
    background: #ff4d4f;
}